{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>疫情小百科</title>
    <link rel="stylesheet" href="{% static "css/yq_baike.css" %}"/>
</head>
<body>
<div class="item">

    <div class="left">
        <div class="left-item">
            <div style="width: 100%">
                <div style="width:100%;float: left">
                    <img src="{% static "image/file53.jpg"%}" style="width:100%;margin-left:30px">
                </div>
            </div>
            <div>
                <div style="width: 100%;height: 57px ">
                    <img src="{% static "image/file24.png" %}" style="width:60px;float: left">
                    <p style="float:left;transform: translate(-5px, 8px);font-size: 26px;font-family: cursive;"><b>什么是新冠病毒？</b></p>
                </div>
                <div>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        2019新型冠状病毒，2020年1月12日被世界卫生组织命名为2019-nCoV [1]，2020年2月11日被国际病毒分类委员会命名为SARS-CoV-2
                        [2]。美国《科学》杂志网站12日报道说，国际病毒分类学委员会冠状病毒研究小组主席约翰·齐布尔表示,他们是根据基因测序等方面的分类学研究提出这个名称，“这一名称与SARS疾病之间没有关联”。钟南山院士9日在接受媒体采访时也曾表示，新型冠状病毒与SARS冠状病毒是同一类，但不是同一种。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        冠状病毒是一个大型病毒家族，已知可引起感冒以及中东呼吸综合征（MERS）和严重急性呼吸综合征（SARS）等较严重疾病。新型冠状病毒是以前从未在人体中发现的冠状病毒新毒株。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        人感染了冠状病毒后常见体征有呼吸道症状、发热、咳嗽、气促和呼吸困难等。在较严重病例中，感染可导致肺炎、严重急性呼吸综合征、肾衰竭，甚至死亡。</p>
                </div>
                <img src="{% static "image/file55.png" %}" style="width: 100%">
            </div>
            <div>
                <div style="width: 100%;height: 57px">
                    <img src="{% static "image/file59.jpg" %}" style="width:50px;float: left">
                    <p style="float:left;transform: translate(-5px, 8px);font-size: 26px;font-family: cursive;"><b>传播路径有哪些呢?</b></p>
                </div>
                <div>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        呼吸道飞沫和密切接触是主要的传播途径，也可经消化道传播。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        长时间暴露于密闭环境,中高浓度气溶胶的情况下，可能存在经气溶胶传播的途径。因为在粪便及尿中可分离到严重急性呼吸系统综,合征冠状病毒2 (SARS-CoV-2), 需要注意 粪便及尿液造成的气溶胶或接触传播等途径。</p>
                </div>
                <img src="{% static "image/file55.png" %} " style="width: 100%">
            </div>
            <div>
                <div style="width: 100%;height: 57px">
                    <img src="{% static "image/file22.png" %}" style="width:60px;float: left">
                    <p style="float:left;transform: translate(-5px, 8px);font-size: 26px;font-family: cursive;"><b>感染主要症状</b></p>
                </div>
                <div>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        发热;</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        干咳; </p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        少数患者伴有鼻塞、流涕、肌痛和腹泻等症状;
                    </p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        随病程进展可出现呼吸困难;</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        部分患者仅表现为低热、轻微乏力等，无肺炎表现。</p>


                </div>
               <img src="{% static "image/file55.png" %}" style="width: 100%">
            </div>
            <div>
                <div style="width: 100%;height: 57px">
                    <img src="{% static "image/file52.jpg" %}" style="width:60px;float: left">
                    <p style="float:left;transform: translate(-5px, 8px);font-size: 26px;font-family: cursive;"><b>面对疫情，如何做好防范！</b>
                    </p>
                </div>
                <div>

                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        <b>1.正确佩戴口罩</b><br>
                        正确佩戴医用外科口罩很重要:目前最常见的口罩大致有三种:棉布口罩、医用外科口罩、N95口罩。其中医用口罩和N95口罩在预防传染性急性呼吸道感染的作用上并
                        无显著差别。两者最大的差别是前者可以防雾霾，后者不行。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        <b>2.正确、及时洗手</b><br>
                        在餐前便后、外出回家、接触垃圾、抚摸动物或处理动物粪便后，要记得洗
                        手。洗手时，要注意用流动的水和使用肥皂(皂液)洗手，揉搓的时间不少于
                        15秒，揉搓步骤简单归纳为7字口诀:
                        “内-外-夹-弓一大一立一腕”。
                    </p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        <b>3.免疫力=生命力</b><br>
                        面对来势汹汹的新冠病毒,如果我们的免疫系统足够强大，它们就会密切监视
                        细菌，病毒，异常细胞，并将其消灭。所以加强锻炼、规律作息，提高自身免
                        疫力是避免被感染的最重要手段。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        <b> 5.居家环境很重要</b><br>
                        保持家庭环境整洁，每天多次开窗通风。有文献数据显示，家庭窗户打开后，
                        空气对流15分钟，空气即全部更新一遍;建议早中晚各通风一-次， 非雾霾及不
                        良天气情况下，窗户无需全关，可适当留缝。</p>
                    <p style="text-indent: 2em;line-height: 24px;font-family: cursive;text-align: left;">
                        <b> 6.居家隔离</b><br>
                        另外，疫情严重时期尽量减少到公共场所的次数;乘坐公交车时最好坐在通风处，如果车辆拥挤，尽量改乘其它车辆;乘坐出租车时注意消毒日期是否是当天更新的。</p>

                </div>
                <img src="{% static "image/file55.png" %}" style="width: 100%">
            </div>


        </div>
    </div>
    <div class="right">
        <div class="tu_pian">
            <img src="{% static "image/file18.png" %}">
        </div>
        <div class="right-item">
            <img src="{% static "image/file23.png" %}">
            <p><b>钟南山</b>，1936年10月出生，福建厦门人，生于南京。出身医学世家，呼吸病学专家。</p>
            <p>2020年1月21日，<b>新型冠状病毒</b>联防联控工作机制科研攻关组第一次会议，钟南山任组长</p>
            <p>1960年毕业于北京医学院(今北京大学医学部)，2007年获英国爱丁堡大学荣誉博士。中国工程院院士，教授、博士生导师.。2003年抗击<b>"非典"</b>先进人物。</p>
            <p>长期从事呼吸内科的医疗、教学、科研工作。重点开展哮喘，慢阻肺疾病，呼吸衰竭和呼吸系统常见疾病的规范化诊疗、疑难病、少见病和呼吸危重症监护与救治等方面的研究。</p>
            <p>2016年6月1日，中国工程院院士、著名呼吸病学专家钟南山荣膺第十一届光华工程科技奖成就奖。</p>
        </div>
        <div class="right-item">
            <img src="{% static "image/file28.png" %}">
            <p><b>李兰娟</b>，女，1947年9月13日出生于浙江绍兴，感染病（传染病）学家、中国人工肝开拓者、国家传染病重点学科带头人，中国工程院院士，浙江大学医学部教授、博士生导师，浙江大学附属第一医院主任医师、传染病诊治国家重点实验室主任 、国家卫健委高级别专家组成员，国家健康科普专家库第一批成员。</p>
            <p>李兰娟主要从事传染病临床、科研和教学工作，擅长各类肝炎、感染性疾病、新发突发传染病诊治，尤其是肝衰竭、病毒性肝炎、肝病微生态研究</p>
            <p>2020年3月31日，浙江省援鄂重症新冠肺炎李兰娟院士医疗队凯旋 ;4月，担任温州医科大学病毒研究院学术委员会主席  </p>
        </div>

    </div>

</div>



</body></html>